*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    line-height: 1.5;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Microsoft YaHei', Helvetica,Open Sans,Arial;
}
.tips-version{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    font-size:18px;
    line-height:50px;
    color:red;
    text-align:center;
    z-index:999999;
    background:#fff
}
.header_search_select,.header_search_select select,.header_search input,.header_search_button,.header_consulting_preorder,.header_consulting_consult,.header_banner_content{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.header{
    width: 1300px;
    min-width: 1300px;
    margin: 0 auto;
}
/* 头部搜索start */
.header_hd{
    height: 50px;
    display: flex;
    margin: 27px 0px 23px 0px;
    justify-content: space-between;
}
.header_logo{
    width: 520px;
}
.header_logo img{
    width: 172px;
    height: 50px;
}
.header_query{
    width: 780px;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}
.header_search{
    width: 470px;
    display: flex;
    justify-content: left;
}
.header_search_select{
    background: url('../images/Nanjing_0902_08.png') right no-repeat;
    background-size: 9px;
    background-position: 88px center;
    width: 120px;
    height: 38px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    padding-right: 15px;
}
.header_search_select select{
    font-size: 14px;
    color: #999999;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:transparent;
    border:none;
    padding-left:25px;
    width: 120px;
    height:100%;
    outline: none;
}
.header_search input{
    width: 240px;
    height: 38px;
    border: 0px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    outline: none;
    background: url('../images/Nanjing_0902_02.png') no-repeat left;
    background-position: 16px;
    color: #b3b3b3;
    font-size: 14px;
    padding-left: 38px;
}
::placeholder {
    color: #b3b3b3;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b3b3b3;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #b3b3b3;
}
.header_search_button{
    width: 68px;
    height: 38px;
    font-size: 16px;
    color: #ffffff;
    line-height: 38px;
    text-align: center;
    background-color: #82be4d;
    border: 0px;
    border-top: 1px solid #82be4d;
    border-bottom: 1px solid #82be4d;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header_consulting{
    width: 310px;
    display: flex;
    justify-content: space-between;
}
.header_consulting_preorder{
    width: 128px;
    height: 38px;
    font-size: 16px;
    color: #ffffff;
    line-height: 38px;
    border-radius: 2px;
    background: url('../images/Nanjing_0902_03.png') no-repeat;
    background-position: 16px;
    background-size: 20px;
    background-color: #5cb6b4;
    padding-left: 45px;
}
.header_consulting_consult{
    width: 168px;
    height: 38px;
    font-size: 14px;
    color: #5cb6b4;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-items: center;
    background: url('../images/Nanjing_0902_04.png') no-repeat;
    background-size: 31px;
    padding-left: 34px;
}
.header_consulting_consult span{
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
/* 头部搜索end */
/* 头部导航start */
.header_nav{
    height: 42px;
    display: flex;
    justify-content: space-between;
}
.header_nav_quick{
    width: 480px;
    height: 42px;
}
.header_nav_quick_background{
    width: 300px;
    height: 42px;
    background: url('../images/Nanjing_0902_05.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.header_nav_quick_background div{
    margin-left: 20px;
    font-size: 16px;
    color: #ffffff;
}
.header_nav_detail{
    width: 820px;
}
.header_nav_detail ul{
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 头部导航end */
/* 头部的banner图start */
.header_banner{
    width: 100%;
    height: 500px;
    background: url('../images/Nanjing_0902_07.png') no-repeat;
    background-size: cover;
}
.header_banner_content{
    width: 1300px;
    min-width: 1300px;
    margin: 0 auto;
    text-align: right;
    padding-right: 30px;
}
.header_banner_content_logo{
    margin: 112px 5px 20px 0px;
}
.header_banner_content div:nth-of-type(2){
    font-size: 36px;
    color: #242223;
    font-weight: bold;
}
.header_banner_content div:nth-of-type(3) img{
    width: 396px;
    height: 9px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.header_banner_content div:nth-of-type(4){
    font-size: 18px;
    color: #242223;
    font-weight: 400;
    letter-spacing: 2px;
}
/* 头部的banner图end */
.content_product div:nth-of-type(1){
    font-size: 30px;
    color: #323232;
    font-weight: bold;
    text-align: center;
    margin-top: 62px;
}
.content_product div:nth-of-type(2){
    font-size: 14px;
    color: #555555;
    margin-top: 12px;
    margin-bottom: 66px;
    text-align: center;
}